The HoverCard is a pattern related to the `Primer::Beta::Popover` and is used to show additional contextual information
on certain kinds of resources like work packages and users. The hover card is opened by hovering over a certain trigger.

When leaving the card or trigger, the popover is closed again. There is a grace period after leaving where the user
may return to the card to keep it open. Users may also click outside the card or press the escape key to close it.

It is possible to interact with the contents of a hover card. Placing links and buttons in there is possible,
but keep in mind that hover cards are not ideal for complex interactions.

Some devices do not support hovering detection, so hover cards will never work on all devices.
Therefore, hover cards should only contain non-essential information.

## Overview

![Exemplary work package hover card](<%= image_path("lookbook/hover_card.png") %>)

![Exemplary user hover card](<%= image_path("lookbook/user_hover_card.png") %>)

## Anatomy

The HoverCard always consists of two basic parts:

1. A trigger: That can be anything that is hoverable, like a link or a chip
2. The actual card: A small popover that is opened directly next to the trigger. The actual content of the card
   can be defined as either a turbo frame provided by a controller - or an existing DOM element that is shown/hidden.

## Best practices

**Do**

- Put in a slight delay between hovering and displaying the card to avoid accidental triggering, which can be annoying.
- Keep the content of the card simple. Only the essentials.

## Used in

- WorkPackage preview when linking via `#ID`
- User preview on usernames and avatars
- Phase gate details on the phase gate icon
- A legend for the contents of the portfolio module sub-item status chart

## HoverCardTriggerController

This Stimulus controller does all the heavy-lifting for hover cards. It takes care of listening to hover events on
trigger elements, fetching the content for the hover card (if necessary) and rendering it relative to the trigger.
It also ensures that only one hover card is open at a time. It takes measures to make hover cards work on top of
top-level dialogs.

The controller is intended to be used globally and should thus be added to the body tag or another high-level element.

To detect hover card opportunities, the controller looks for elements with the attribute
`data-hover-card-trigger-target="trigger"`. When hovering over such an element, the controller will open a hover
card for it. See the next section to see how to define the contents of a hover card.

## Defining hover card contents

A hover card is the popover that is shown when hovering over a trigger element.

The content of a hover card can be defined in two ways:

1. Via a turbo frame that is fetched from a URL. This is the preferred way if you want to lazily load the contents
   of the hover card when needed.
2. Via an existing `<template>` element that is present (but hidden) in the document on page load. This is useful when the
   content is already there and no additional fetching of data is necessary.

### Asynchronous hover cards via turbo frame

The element that defines the trigger (via `data-hover-card-trigger-target="trigger"`) must provide an attribute
pointing to a URL that will return a turbo frame: `data-hover-card-url`

Usually, the URL will point to a Rails controller action that renders a turbo frame containing a component
with the hover card contents.

The `HoverCardTriggerController` will take that turbo frame and construct a hover card for it, placing it next to the
trigger element into the DOM.

**Trigger**:
```html
  <!-- important: make sure the controller is attached somewhere, preferably the body tag -->
  <body data-controller="hover-card-trigger">

    <!-- app/views/module_a/index.html.erb -->
    <a href="work_packages/14/activity"
       data-hover-card-url="work_packages/14/hover_card"
       data-hover-card-trigger-target="trigger">
      #14
    </a>

    <!-- This is how it would look like to provide a hover card trigger to a picture of a user. In reality, you would
         probably apply the trigger to an <op-principal> tag. -->
    <a href="users/14"
       data-hover-card-url="users/14/hover_card"
       data-hover-card-trigger-target="trigger">
      <img src="user_avatar.png" alt="">
    </a>
  </body>
```

Note that the user example is simplified. For actual use in the application, it is recommended to use the
`AvatarComponent`, which offers an option for hover cards.

**Actually rendered card content**:
```html
  <!-- app/components/work_packages/hover_card/show.html.erb -->
  <turbo-frame id="op-hover-card-body">
    &lt;%= render WorkPackages::HoverCardComponent.new(id: 14) %&gt;
  </turbo-frame>

  <!-- app/components/users/hover_card/show.html.erb -->
  <turbo-frame id="op-hover-card-body">
    &lt;%= render Users::HoverCardComponent.new(id: 14) %&gt;
  </turbo-frame>
```

### Static hover cards via existing DOM elements

If the content of a hover card is already present in the DOM, it is possible to define hover cards contents by
pointing to the ID of an existing element. To do so, you must provide the attribute `data-hover-card-popover-template-id`
on the trigger element.

**Trigger**:
```html
  <!-- important: make sure the controller is attached somewhere, preferably the body tag -->
  <body data-controller="hover-card-trigger">

    <!-- A hover card will be shown when hovering over this link: -->
    <a href="work_packages/14/activity"
       data-hover-card-popover-template-id="work-package-hover-card-14"
       data-hover-card-trigger-target="trigger">
      #14
    </a>
  </body>
```

The hover card content can be placed at a convenient place in the DOM. You must use a
[template element](https://www.w3schools.com/TagS/tag_template.asp) for that purpose. Conveniently, the content will
be hidden automatically until the card is displayed.
It is required to assign the ID that was inserted in the trigger's `data-hover-card-popover-template-id` attribute.

When hovering over the trigger, the hover card will be rendered floating next to it.

Please note that technically, the contents of the template will be *copied* into a popover element that is then
placed next to the trigger. To avoid ID clashes, do not use IDs in the contents of the hover card.

**Card content**:
```html
  <!-- Somewhere else in the DOM... -->

  <!-- Template, so that the popover is hidden on page load. Note the ID: -->
  <template id="work-package-hover-card-14">
    <!-- Actual hover card contents that will be rendered in a popover: -->
    <div class="your-styling-classes">
      <p>Hover card with description text of work package 14!</p>
    </div>
  </template>
```
