<%= render(Primer::Alpha::Banner.new(scheme: :default, icon: :info, dismiss_scheme: :hide)) do %>
  <p><%= t("ifc_models.processing_notice.processing_default") %></p>
  <ul>
    <% unconverted.each do |model| %>
      <li><%= model.title %></li>
    <% end %>
  </ul>
<% end %>
