@import "helpers"

.op-full-page-prompt
  margin: 1rem auto 0
  padding: 2rem
  width: 500px
  text-align: center

  &--action-box
    display: flex

  &--action
    flex: 1

  @media screen and (max-width: $breakpoint-md)
    width: 100%
    margin: 2rem 0 0 0
