<%=
  component_wrapper(
    class: "op-meeting-presentation--header-container",
    data: { "test-selector": "meeting-presentation-header" }
  ) do
%>
  <%=
    render Primer::OpenProject::PageHeader.new(classes: "op-meeting-presentation-header") do |header|
      header.with_breadcrumbs([])
      header.with_title_content(@meeting.title)

      header.with_action_icon_button(
        tag: :a,
        icon: :x,
        mobile_icon: :x,
        scheme: :invisible,
        mobile_label: t(:"meeting.presentation_mode.exit"),
        label: t(:"meeting.presentation_mode.exit"),
        href: meeting_path(@meeting),
        aria: { label: t(:"meeting.presentation_mode.exit") },
        test_selector: "exit-presentation-button"
      )
    end
  %>
  <div class="op-meeting-presentation--header">
    <div class="op-meeting-presentation--header-title">
      <% if current_section.title.present? %>
        <%= render(Primer::Beta::Text.new(color: :subtle)) { MeetingSection.model_name.human } %>:
        <%= render(Primer::Beta::Text.new(font_weight: :bold, color: :subtle)) { current_section.title } %>
      <% end %>
    </div>
  </div>
<% end %>
