
<%= render(OpenProject::Common::CheckAllComponent.new(checkable_id: "checkable-example")) %>

<section id="checkable-example" class="my-4">
  <%=
    render(
      Primer::Alpha::CheckBoxGroup.new(
        name: "my-ice-creams",
        label: "My favorite ice cream flavors",
        data: { controller: "checkable" }
      )
    ) do |group|
      group.check_box(
        label: "Vanilla",
        value: "vanilla",
        data: { checkable_target: "checkbox" }
      )
      group.check_box(
        label: "Chocolate",
        value: "chocolate",
        data: { checkable_target: "checkbox" }
      )
      group.check_box(
        label: "Strawberry",
        value: "strawberry",
        data: { checkable_target: "checkbox" }
      )
      group.check_box(
        label: "Cookie Dough",
        value: "cookie_dough",
        data: { checkable_target: "checkbox" }
      )
    end
  %>
</section>
